<h1>ZeeMee Login</h1>

<%= form_with do |form| %>
  <%= form.label :phone, 'Phone:' %>
  <%= form.text_field :phone, value: @phone %>
  <% if @phone %>
    <%= form.text_field :code %>
    <%= form.submit 'Validate Code' %>
  <% else %>
    <%= form.submit 'Send code' %>
  <% end %>
<% end %>
